/* .myform{
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 30rem;
    background-color:#c7d1b0 ; 
} */
form {
    max-width: 900px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } 
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 30px;
    color:#798165 ;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff9090;
    color: #242e21;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
  }
  textarea{
    height: 150px;
  }
  .directions{
    height: 205px;
  }
  
  input:focus, textarea:focus, select:focus {
    border-color: #a7ff9f;
    outline: none;
    box-shadow: 0 0 5px #487444;
  }
  
  button {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    background: #ff9090;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background:#97cb92;
    
  }
  
  .formcol{
    display: flex;
    flex-direction: column;
    width: 48%;
    /* gap: 10px; */
  }

  .formbox{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }