*{
    font-family: cursive;

}
.outerbox{
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 30%;
    height: 50rem;
    background-color:  #A5B68D;
}
.editor{
    width: 70%;
    height: 50rem;
    background-color: #ffd5d5;
}
.createbut{
    height: 4rem;
    width: 80%;
    background-color: #fad0d0;
    color: rgb(49, 82, 49);
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
    margin: 30px; 
    border-radius: 20px;
    border: none;
}

.createbut:hover{
    background-color:#f8e8cf  ;
}